@{
    ViewData["Title"] = "Home Page";
}

<h2>Weather Reporter/Odin Mood Tracker</h2>
<hr />
@Html.ActionLink("View all Weather Reports", "GetWeatherReports")
<br />
@Html.ActionLink("Request a new Report", "Send")
